*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(41, 34, 34);
}
header {
    background-color: white
    ;
    text-align: center;
    color: black;
    padding: 1rem 0rem 1rem 0rem;
}
main{
    margin-top: 2rem;
    padding: 1rem 0px 1rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.result {
    font-size: 2rem;
    color: white;
}
.scoreboard {
    display: flex;
    gap: 12px;
    font-size: 4rem;
    border: 1px solid white;
    padding: 1.2rem 4rem;
    color: white;
}
.movement_container {
    display: flex;
    gap: 9rem;
}
.movement_container .moves {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    border: 0.5rem solid white;
    transition: 300ms;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;

    
}
.movement_container .moves img {
    width: 100%;
    
}



.message {
    font-size: 2rem;
    color: white;
    
}

.movement_container .win {
    border-color: greenyellow;
    box-shadow: 1px 1px 10px greenyellow;
}

.movement_container .loss {
    border-color: rgb(241, 50, 50);
    box-shadow: 1px 1px 10px rgb(241, 50, 50);
}
.movement_container .draw {
    box-shadow: 1px 1px 10px white;
}
.movement_container .unavailable {
    pointer-events: none;
}
